/* Upvote.css */



:root {
  --icon-color: #343A40;
  --selected-icon-color: #253CF2;
  --background-color: #F4F6F8;
  --selected-background-color: #E5E8FD;

}



.upvote-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 37px 25px 0px 22px;
  background-color: var(--background-color);
  border-radius: 15px;
}




/* The votes arrows section    */
.upvote-container>div:nth-child(1) {
  width: 487px;
  padding-left: 2px;
  min-height: 78px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  

}



/* The upvote '+' icon/button section   */
.upvote-container>div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upvote-icon {
  margin-left: 11px;
  position: relative;
  left: 5px;
}

.arrow-up {
  fill: var(--icon-color);
}

.selected .arrow-up {
  fill: var(--selected-icon-color);
}

/* icon's background outline shown in wireframe -background color denotes selected state */
.img-container {
  background-color: var(--background-color);
  width: 54px;
  height: 54px;
  margin: 10px 5px 10px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* icon's background color changes with components 'selected' state */
.selected .img-container {
  background-color: var(--selected-background-color);
}

img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}