
:root {
    --icon-color: #343A40;
    --selected-icon-color: #253CF2;
    --background-color: #F4F6F8;
    --selected-background-color: #E5E8FD;
    --btn-primary-color: #4CAF50;
    --btn-primary-color-hover: #45a049;
  }
  


.main-container {
    
    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 615px;
    height: 390px;    
}

@media (max-width: 615px) {
    .main-container {
      width: 300px;
    }
}




.btn-primary {
    
    background-color:var(--btn-primary-color); /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.6s; 
    }
    
.btn-primary:hover {
    background-color:var(--btn-primary-color-hover); /* Darker green */
    
}
